<ion-header >
  <ion-toolbar class="ion-padding" color="success">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>pagina botones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-text color="primary">
    <h1>boton de ionic</h1>
  </ion-text>
  <ion-button >mi boton</ion-button> 
  <ion-button expand="block" color="secondary">expand</ion-button>
  <ion-button expand="full" shape="round"color="tertiary">Full</ion-button>
</ion-content>
